html, body {
    margin: 0px;
    padding: 0px;    
}
.header {
    margin: 0px;
    background-color: #6d9eeb;
    color: white;
    font-family: 'Lato';
    padding: 50px; 
    font-weight: 250;    
}

.search-wrapper {
    padding: 50px 0px 50px 20px;
}

.material-icons {
    position: absolute;
    top: 211px;
    right: 10px;
    cursor: pointer;
}

.my-image {     
    width: 100%;   
    background-color: white;
}

.my-icon {
    background-color: white;
}

.card {
    max-width: 600px;    
    background-color: #6d9eeb;
}

.card-content {
    color: white;
    font-family: 'Roboto';
}